$ds-light-theme: (
  "surface-base": #fafafa,
  "surface-raised": #f4f4f5,
  "surface-sunken": color.neutral.200,
  "text-base": #18181b,
  "text-subtle": #3f3f46,
  "text-muted": color.neutral.600,
  "text-inverted": #fafafa,
  "border-subtle": color.neutral.200,
  "border-base": color.neutral.300,
  "border-strong": color.neutral.400,
  "brand-primary": #3267ff,
  "brand-primaryHover": #224eda,
  "brand-primaryActive": #173ab3,
  "brand-subtle": #d9e6ff,
  "accent-base": #f59e0b,
  "accent-hover": #d97706,
  "accent-active": #b45309,
  "accent-subtle": #fef3c7,
  "success-base": #29ab6c,
  "success-hover": #1e8a57,
  "success-active": #166a43,
  "success-subtle": #dff8ea,
  "danger-base": #f93a20,
  "danger-hover": #dd2613,
  "danger-active": #b81f10,
  "danger-subtle": #ffe3e0,
  "warning-base": #fbbf24,
  "warning-hover": #f59e0b,
  "warning-active": #d97706,
  "warning-subtle": #fef3c7,
  "info-base": #2aa8ff,
  "info-hover": #0089e6,
  "info-active": #0069b4,
  "info-subtle": #e1f7ff,
  "focus-ring": #3267ff,
  "focus-ringStrong": #173ab3,
);
