:root {
  --ds-surface-base: #fafafa;
  --ds-surface-raised: #f4f4f5;
  --ds-surface-sunken: color.neutral.200;
  --ds-text-base: #18181b;
  --ds-text-subtle: #3f3f46;
  --ds-text-muted: color.neutral.600;
  --ds-text-inverted: #fafafa;
  --ds-border-subtle: color.neutral.200;
  --ds-border-base: color.neutral.300;
  --ds-border-strong: color.neutral.400;
  --ds-brand-primary: #3267ff;
  --ds-brand-primaryHover: #224eda;
  --ds-brand-primaryActive: #173ab3;
  --ds-brand-subtle: #d9e6ff;
  --ds-accent-base: #f59e0b;
  --ds-accent-hover: #d97706;
  --ds-accent-active: #b45309;
  --ds-accent-subtle: #fef3c7;
  --ds-success-base: #29ab6c;
  --ds-success-hover: #1e8a57;
  --ds-success-active: #166a43;
  --ds-success-subtle: #dff8ea;
  --ds-danger-base: #f93a20;
  --ds-danger-hover: #dd2613;
  --ds-danger-active: #b81f10;
  --ds-danger-subtle: #ffe3e0;
  --ds-warning-base: #fbbf24;
  --ds-warning-hover: #f59e0b;
  --ds-warning-active: #d97706;
  --ds-warning-subtle: #fef3c7;
  --ds-info-base: #2aa8ff;
  --ds-info-hover: #0089e6;
  --ds-info-active: #0069b4;
  --ds-info-subtle: #e1f7ff;
  --ds-focus-ring: #3267ff;
  --ds-focus-ringStrong: #173ab3;
}
