$ds-dark-theme: (
  "surface-base": #18181b,
  "surface-raised": color.neutral.800,
  "surface-sunken": #3f3f46,
  "text-base": #fafafa,
  "text-subtle": color.neutral.200,
  "text-muted": color.neutral.300,
  "text-inverted": #18181b,
  "border-subtle": #3f3f46,
  "border-base": color.neutral.600,
  "border-strong": color.neutral.500,
  "brand-primary": #5e8bff,
  "brand-primaryHover": #88acff,
  "brand-primaryActive": #b1caff,
  "brand-subtle": #102b8a,
  "accent-base": #fbbf24,
  "accent-hover": #fcd34d,
  "accent-active": #fde68a,
  "accent-subtle": #92400e,
  "success-base": #54c88f,
  "success-hover": #8addb3,
  "success-active": #b7edcf,
  "success-subtle": #0f4d31,
  "danger-base": #ff5a44,
  "danger-hover": #ff8a7a,
  "danger-active": #ffbdb4,
  "danger-subtle": #93190d,
  "warning-base": #fcd34d,
  "warning-hover": #fde68a,
  "warning-active": #fef3c7,
  "warning-subtle": #92400e,
  "info-base": #5ac2ff,
  "info-hover": #8bdbff,
  "info-active": #b9ecff,
  "info-subtle": #004d82,
  "focus-ring": #5e8bff,
  "focus-ringStrong": #88acff,
);
