$ds-color-blue-50: #eff6ff;
$ds-color-blue-100: #dbeafe;
$ds-color-blue-500: #3b82f6;
$ds-color-blue-600: #2563eb;
$ds-color-green-50: #f0fdf4;
$ds-color-green-100: #dcfce7;
$ds-color-green-500: #22c55e;
$ds-color-green-600: #16a34a;
$ds-color-neutral-50: #fafafa;
$ds-color-neutral-100: #f4f4f5;
$ds-color-neutral-700: #3f3f46;
$ds-color-neutral-900: #18181b;
$ds-surface-base: #fafafa;
$ds-surface-hover: #f4f4f5;
$ds-surface-active: undefined;
$ds-border-subtle: undefined;
$ds-border-base: undefined;
$ds-border-strong: undefined;
$ds-content-primary: #18181b;
$ds-content-secondary: undefined;
$ds-content-disabled: undefined;
$ds-brand-primary: #2563eb;
$ds-brand-primaryHover: undefined;